.bb{
    border-radius: 0 !important;
    padding-top: 12px;
    padding-bottom: 12px;
}
.dr{
    border-radius: 0;
    padding: 0;
    text-align: center;
    width: 100% !important;
    min-width: 1rem;
}
